/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --text-color-title: #000028;
  --section-color: #f1b2ce;
  --text-shadow-color: #ff0070;
  --title-color: #db00ff;
  --color-button: #ff0070;
  --text-color-title: #000028;
  --text-color-decor: #ff0070;
  --text-color: #f1b2ce;
  --text-color-title-main: #ff0070;
  --text-color-decor-bg: #ff0070;
  --text-color-decor: #ff0070;
  --display-decor-rec: block;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-image: url("../images/cover-image-dark.png");
    --bg-color: #000028;
    --accent-color: #ff0070;
    --text-color-title: #000028;
    --section-color: #f1b2ce;
    --title-color: #db00ff;
    --color-button: #ff0070;
    --text-color-title: #000028;
    --text-color-decor: #ff0070;
    --text-color: #f1b2ce;
    --text-color-title-main: #ff0070;
    --display-decor-rec: block;
  }
}
