/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url("../images/cover-image-light.png");
  --bg-color: #fff1f7;
  --text-color-black: #353430;
  --section-color: #f1b2ce;
  --title-color: #ffc2e6;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url("../images/cover-image-light.png");
    --bg-color: #fff1f7;
    --text-color-black: #353430;
    --section-color: #f1b2ce;
    --title-color: #ffc2e6;
  }
}

.theme-light .decor-rec {
  visibility: hidden;
}
