/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url("../images/cover-image-light.png");
  --bg-color: #fff1f7;
  --section-color: #f1b2ce;
  --title-color: #ffc2e6;
  --color-button: #353430;
  --color-button-frame: rgb(53, 52, 48, 0.4);
  --text-color-title: #353430;
  --text-color-decor-bg: #ff8dcb;
  --text-color: #353430;
  --text-shadow-color: #ff8dcb;
  --text-color-black: #000028;
  --text-color-title-main: #000028;
  --display-decor-rec: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url("../images/cover-image-light.png");
    --bg-color: #fff1f7;
    --section-color: #f1b2ce;
    --title-color: #ffc2e6;
    --color-button: #353430;
    --color-button-frame: rgb(53, 52, 48, 0.4);
    --text-color-title: #353430;
    --text-color-decor-bg: #ff8dcb;
    --text-color: #353430;
    --text-shadow-color: #ff8dcb;
    --text-color-black: #000028;
    --text-color-title-main: #000028;
    --display-decor-rec: none;
  }
}
