/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--bg-color);
  background-attachment: fixed;
  height: 100vh;
  min-inline-size: 375px;
  display: grid;
  place-items: center;
}

.header {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  block-size: 100vh;
  position: relative;
  height: 100vh;
  min-height: 668px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  gap: 1.75em;
}

.main {
  justify-self: center;
  padding-left: 0.6em;
  padding-right: 0.6em;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  border: 1px var(--color-button) solid;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-left: none;
  border-bottom: none;
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-right: none;
  border-top: none;
}

.decor-rec {
  position: absolute;
  justify-self: end;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  font-family: var(--font-family);
  color: var(--text-color-decor);
  top: 10px;
  right: 20px;
  display: var(--display-decor-rec);
}

.decor-rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--text-color-decor);
  border-radius: 50px;
  margin-left: 10px;
  box-shadow: 0px 0px 4px 2px var(--text-shadow-color);
}
.header__theme-menu {
  display: grid;
  padding-top: 3em;
}
.header__theme-menu-list {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  gap: 1em;
  justify-items: end;
}

.header__theme-menu-button {
  color: var(--color-button);
  font-family: var(--font-family);
  line-height: 18px;
  font-size: 18px;
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-right: 0.8em;
}
.header__theme-menu-button:hover {
  border: 1px solid var(--color-button-frame);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--color-button);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--color-button);
  pointer-events: none;
}

.header__title {
  white-space: pre-line;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  font-family: var(--font-family);
  text-shadow: 4px 4px 0 var(--text-shadow-color);
  color: var(--title-color);
  align-self: end;
  justify-items: center;
  position: relative;
  padding-top: 0.35em;
}

.title__text {
  display: grid;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  background-color: var(--text-color-decor-bg);
  line-height: 23px;
  letter-spacing: 0;
}
.header__title__text {
  padding-top: 1.8em;
}
.content-section {
  display: grid;
  color: var(--text-color);
}

.text-concentrate-walk-word {
  text-shadow: 1px 1px 0 var(--text-shadow-color);
  text-decoration: none;
}

.text-concentrate-walk-word:hover {
  border-bottom: 1px solid var(--text-color);
}

.text-concentrate-walk-word::focus-visible {
  border: 1px solid var(--color-button);
}

.text-concentrate-walk-word::focus {
  outline: none;
}

.main-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  color: var(--text-color-title-main);
  justify-self: start;
  align-self: start;
}

.main-title-decor {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  color: var(--text-color-title);
  background-color: var(--text-color-decor-bg);
}

.text-main {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: var(--text-color);
}

.content-section-concentration-multitasking {
  padding-top: 2.5em;
  gap: 1.3em;
}
.content-section-multiasking-content {
  display: grid;
  gap: 0.6em;
}
/*Секция 1*/

/*Секция 2*/
.content-section-dofamin {
  padding-top: 0.4em;
  gap: 0.65em;
}

/*Секция 3*/
.content-section-low-concentration-gadgets {
  gap: 1em;
  padding-top: 3.55em;
}
.content-section-low-concentration {
  gap: 1.3em;
}

.card-low-concentration {
  display: grid;
  gap: 0.65em;
}
/*Секция 4*/
.content-section-meal {
  padding-top: 0.56em;
  gap: 0.6em;
}

/*Секция 5*/

.content-section-gadgets {
  padding-top: 0.6em;
  gap: 0.6em;
}

/*Секция 6*/
.content-section-meditation {
  padding-top: 3.55em;
  gap: 1.3em;
}

.main-meditation-card {
  display: grid;
  gap: 0.6em;
}
/*Секция 7*/
.content-section-music {
  padding-top: 0.5em;
  gap: 0.55em;
}

/*Секция 8*/
.content-section-walk {
  padding-top: 0.2em;
  gap: 0.6em;
}

/*Секция 9*/
.content-section-good-food {
  padding-top: 0.35em;
  gap: 0.6em;
}

.content-section-books {
  padding-top: 0.2em;
  gap: 0.62em;
}

.content-section-picture {
  padding-top: 3.3em;
}

.main-section-gallery {
  display: grid;
  height: 100%;
  padding-top: 0.7em;
  gap: 0.6em;
  justify-self: center;
}

.sectiom-gallery-item {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.image-sunset {
  max-width: 355px;
  max-height: 142px;
}

.image-ice-cream {
  max-width: 355px;
  max-height: 355px;
}

.tape {
  max-width: 355px;
  max-height: 237px;
}

.image-books {
  max-width: 355px;
  max-height: 355px;
}

.image-street {
  max-width: 355px;
  max-height: 237px;
}

.footer {
  display: grid;
  width: 100%;
  height: 100vh;
  min-height: 667px;
  position: relative;
  align-items: center;
  justify-self: center;
  margin-top: 2.6em;
}
.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  font-family: var(--font-family);
  text-shadow: 2px 2px 0 var(--text-shadow-color);
  color: var(--title-color);
  justify-self: center;
}

@media (min-width: 768px) {
  .header {
    max-width: 768px;
    width: 100%;
    min-height: 1024px;
    padding-left: 0;
    padding-right: 1.2em;
    gap: 9.1em;
  }

  .decor-rec {
    top: 20px;
    right: 25px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__theme-menu {
    align-self: end;
  }

  .header__title {
    padding-top: 0.28em;
  }
  .header__title__text {
    padding-top: 0.9em;
  }
  .title__text {
    justify-self: end;
    max-width: 365px;
    width: 100%;
  }

  .main {
    padding-right: 1.2em;
    padding-left: 1.2em;
  }

  .text-main {
    width: 100%;
  }

  .main-title-decor {
    width: 100%;
  }

  .main-title {
    width: 100%;
  }

  .content-section {
    width: 100%;
  }

  /*Секция 1*/
  .content-section-concentration-multitasking {
    padding-top: 3.8em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "why multitasking multitasking"
      "why dofamin dofamin";
    column-gap: 2.2em;
  }

  .main-title-hard-concentrate {
    max-width: 236px;
    grid-area: why;
  }
  .content-section-multiasking-content {
    grid-area: multitasking;
    gap: 0.6em;
  }
  /*Секция 2*/
  .content-section-dofamin {
    grid-area: dofamin;
    padding-top: 0.25em;
    gap: 0.6em;
  }
  .content-section-low-concentration-gadgets {
    padding-top: 5.3em;
  }

  .main-title-low-concentration {
    max-width: 236px;
  }
  /*Секция 3*/
  .content-section-low-concentration {
    gap: 1.4em;
  }

  /*Секция 4*/
  .content-section-meal {
    padding-top: 0.35em;
  }

  /*Секция 5*/
  .content-section-gadgets {
    padding-top: 0.4em;
  }

  /*Секция 6*/
  .content-section-meditation {
    max-width: 728px;
    padding-top: 5.2em;
    grid-template-columns: repeat(3, 1fr, min-content);
    grid-template-areas:
      "gold-fish five-tips five-tips"
      "gold-fish meditation-card meditation-card"
      "gold-fish music music"
      "gold-fish walk walk"
      "gold-fish good-food good-food"
      "gold-fish books books";
  }

  .main-title-meditation {
    max-width: 236px;
    grid-area: gold-fish;
  }

  .main-title-five-tips {
    grid-area: five-tips;
  }

  .main-meditation-card {
    grid-area: meditation-card;
    gap: 0.7em;
  }

  /*Секция 7*/
  .content-section-music {
    grid-area: music;
    padding-top: 0.3em;
    gap: 0.7em;
  }

  /*Секция 8*/
  .content-section-walk {
    grid-area: walk;
    padding-top: 0;
  }

  /*Секция 9*/
  .content-section-good-food {
    grid-area: good-food;
  }

  /*Секция 10*/
  .content-section-books {
    grid-area: books;
  }

  /*Секция 11*/
  .content-section-picture {
    padding-top: 5.1em;
  }

  /*Галлерея*/
  .main-section-gallery {
    max-width: 728px;
    width: 100%;
    object-fit: contain;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
    gap: 1.5em;
    padding-top: 1em;
  }
  .image-sunset {
    grid-area: sunset;
    max-width: 479px;
    max-height: 192px;
  }

  .image-ice-cream {
    grid-area: ice-cream;
    max-width: 229px;
    max-height: 442px;
  }

  .tape {
    grid-area: tape;
    max-width: 229px;
    max-height: 568px;
  }

  .image-books {
    grid-area: books;
    max-width: 230px;
    max-height: 230px;
  }

  .image-street {
    grid-area: street;
    max-width: 479px;
    max-height: 318px;
  }

  /*Подвал*/
  .footer {
    max-width: 768px;
    min-height: 1024px;
    max-height: 100vh;
    margin-top: 3.7em;
  }
  .footer__title {
    justify-self: center;
    align-self: center;
  }
}

@media (min-width: 1024px) {
  .header {
    max-width: 1440px;
    width: 100%;
    min-height: 768px;
    padding-top: 0;
    padding-right: 0.2em;
    padding-left: 0.2em;
    gap: 1.25em;
  }

  .decorated-zone::before {
    left: 979px;
  }

  .decorated-zone::after {
    top: 723px;
  }

  .decor-rec {
    right: 10px;
  }

  .header__theme-menu {
    justify-self: center;
    align-items: start;
    padding-left: 1.2em;
    padding-top: 0;
  }
  .header__theme-menu-list {
    display: flex;
    justify-content: space-between;
    gap: 1em;
  }

  .header__theme-menu-item {
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding-top: 1.65em;
  }
  .header__title__text {
    padding-top: 5.9em;
  }
  .title__text {
    max-width: 491px;
  }

  .main {
    max-width: 1440px;
    padding-right: 0.2em;
    padding-left: 1.2em;
  }

  /*Секция 1*/
  .main-title-hard-concentrate {
    max-width: 315px;
  }

  /*Секция 3-5*/
  .content-section-low-concentration-gadgets {
    grid-template-columns: repeat(3, 1fr);
  }

  /*Секция 3*/
  .content-section-low-concentration {
    grid-template-rows: repeat(3, min-content);
    gap: 1.2em;
  }

  .main-title-low-concentration {
    max-width: 315px;
  }
  .card-low-concentration {
    gap: 0.3em;
  }

  /*Секция 4*/
  .content-section-meal {
    grid-template-rows: repeat(1, min-content);
    grid-row: 2/1;
    grid-column: 2;
    padding-top: 4em;
  }

  /*Секция 5*/
  .content-section-gadgets {
    grid-template-rows: repeat(1, min-content);
    grid-row: 2/1;
    grid-column: 3;
    padding-top: 4em;
  }

  /*Секция 6*/
  .content-section-meditation {
  }

  .main-title-meditation {
  }

  /*Секция 7*/
  .content-section-music {
  }

  /*Секция 8*/
  .content-section-walk {
  }

  /*Секция 9*/

  .content-section-good-food {
  }

  /*Секция 10*/
  .content-section-books {
  }

  .content-section-picture {
  }
  .main-section-gallery {
    max-width: 1024px;
  }

  .image-sunset {
    max-width: 650px;
    max-height: 260px;
  }

  .image-ice-cream {
    max-width: 314px;
    max-height: 595px;
  }

  .tape {
    max-width: 315px;
    max-height: 768px;
  }

  .image-books {
    max-width: 315px;
    max-height: 315px;
  }

  .image-street {
    max-width: 649px;
    max-height: 433px;
  }
  /*Подвал*/
  .footer {
    max-width: 1024px;
    min-height: 668px;
    margin-top: 3.5em;
  }
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding-left: 0.1em;
  }
}
