/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-attachment: fixed;
  background: var(--bg-image);
  min-height: 100vh;
  min-inline-size: 375px;
  max-inline-size: 1024px;
  padding: 2vi;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  block-size: 100vh;
  min-height: var(--min-height-header);
  position: relative;
  grid-template-areas: "menu" "title" "title__text";
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-top: var(--accent-color);
  border-right: var(--accent-color);
  width: 20px;
  height: 20px;
}

@media (max-width: 375px) {
  .decor-rec {
    position: absolute;
    justify-self: end;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    font-family: var(--font-family);
    color: var(--accent-color);
  }

  .decor-rec::after {
    content: "•";
    font-weight: 900;
    font-size: 30px;
    font-family: var(--font-family);
    color: var(--accent-color);
    align-self: end;
    filter: blur(50%);
  }

  .header__theme-menu-list {
    display: grid;
    row-gap: 1em;
    grid-column: 2;
    column-gap: 10px;
  }
  .header__theme-menu-button {
    color: var(--accent-color);
    font-family: var(--font-family);
    line-height: 18px;
    font-size: 18px;
    text-transform: lowercase;
    background-color: transparent;
    border: none;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: center;
  }

  .header__theme-menu-item {
  }

  .header__title {
    display: grid;
    white-space: pre-line;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 0.83;
    font-family: var(--font-family);
    text-shadow: 4px 4px 0 var(--accent-color);
    color: var(--title-color);
    align-items: center;
    position: relative;
  }

  .title__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    background-color: var(--accent-color);
    justify-self: end;
    align-self: center;
  }

  .content-section {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    color: var(--section-color);
    grid-template-areas: "main-title" "main-title-decor" "main-text";
  }

  .content-section-one {
    display: grid;
  }
  .main-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    color: var(--accent-color);
    grid-area: "main-title";
    justify-self: start;
    padding-top: 8vi;
    margin-bottom: 6vi;
  }

  .main-title-decor {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    color: var(--text-color-black);
    background-color: var(--accent-color);
    grid-area: "main-title-decor";
  }
  .text-main-s-one {
    padding-top: 10px;
  }
  .text-main {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: var(--section-color);
  }
  .main-section-gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    height: 100%;
  }

  .main-title-decor-eleven {
    margin-top: 55vi;
    color: var(--text-color-black);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    background-color: var(--accent-color);
  }

  .sectiom-gallery-item {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
  }

  .footer {
    display: grid;
    block-size: 100vh;
    min-height: var(--min-height-header);
    position: relative;
  }
  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 0.83;
    font-family: var(--font-family);
    text-shadow: 4px 4px 0 var(--accent-color);
    color: var(--title-color);
    align-items: center;
    justify-items: center;
    position: relative;
    margin-top: 85vi;
  }
}

@media (max-width: 678px) {
}
