:root {
  --bg-image: url("../images/cover-image-dark.png");
  --bg-color: hsl(236, 88%, 24%);
  --accent-color: #ff0070;
  --font-family: "IBM Plex Mono", sans-serif;
  --text-color-black: #000028;
  --section-color: #f1b2ce;
  --min-height-header: 375px;
  --title-color: #db00ff;
}
